.document-manager {
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
}





.processing-queue ul {
    list-style: none;
    padding: 0;
}

.processing-queue li {
    margin: 8px 0;
}

/* .documents-page {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
