.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    /* margin-left: 30px; */
    /* gap: 40px; */
    /* width: 100%;     */
    background-color: #f8f8fa;
    border: 2px solid #ededee;  
}

.search-bar input {
    margin-left: 60px;
    margin-top: 8px;
    width: 450%;
}

.searchbar-head h2 {
    display: inline;
}

.search-box h2 {
    display: inline;
}

.searchbar-head1 h2 {
    display: inline-block;
    margin-right: 10px;
    margin-left: 60px;
}

.searchbar-head2 h2 {
    font-weight: bold;
    font-size: 23px;
    display: inline-block;

}

.searchbar-icons{
    padding:0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 460px;
    /* margin-right: 80px; */
}

.profile {
    display: flex;
}

.material-icons {
    font-size: 25px;
    /* margin-left: 30px; */
}


.profile-pic {
    width: 27px;
    height: 27px;
    border-radius: 50px;
    margin-top: 15px;
    margin-right: 10px;
}

.searchbar {
    display: flex;
    flex-direction: row;
}

.three-dots-icon {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 55px;
}

.profile-text {
    margin-top: 5px;
    
}

.line-one {
    font-size: 10px;
}

.line-two {
    font-size: 10px;
    white-space: nowrap;
}
.vertical-line2 {
    border-left: 2px solid grey;
    height: 25px;
    margin-top: 21px;
    margin-left: 8px;
}

.vertical-line1 {
    border-left: 2px solid grey;
    height: 25px;
    margin: 0 8px;
}

